@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Kumbh+Sans:wght@400;700&family=Overpass:wght@300;500;600&family=Poppins:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Fira Sans", sans-serif;
}

header {
  position: fixed;
  background-color: transparent;
  height: 85px;
  width: 100%;
  z-index: 999999;
  transition: 0.3s;
}
@media (max-width: 991px) {
  header {
    background-color: white;
    height: 60px;
  }
}
header.scrl {
  background-color: white;
}
header.scrl .row .logo h3 {
  color: #000;
}
header.scrl .row ul.links li.sub > a {
  color: #000;
}
header.scrl .row ul.links li.sub::after {
  color: #000;
}
header.scrl .row ul.links li a {
  color: #000 !important;
}
header.scrl .row ul.links li a.active {
  color: #28ABE3 !important;
}
header .row {
  height: 100%;
}
header .row .logo h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
@media (max-width: 991px) {
  header .row .logo h3 {
    color: #000;
  }
}
@media (max-width: 991px) {
  header .row ul.links {
    display: none !important;
  }
}
@media (max-width: 991px) {
  header .row ul.links.vert {
    display: flex !important;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 100%;
    padding: 0.7rem 0;
    position: absolute;
    top: 60px;
    left: 0;
  }
  header .row ul.links.vert li a {
    color: #000;
  }
}
@media (max-width: 991px) and (min-width: 992px) {
  header .row ul.links.vert li a {
    color: #000 !important;
  }
}
@media (max-width: 991px) {
  header .row ul.links.vert li a.active {
    color: #28ABE3 !important;
  }
}
@media (min-width: 992px) {
  header .row ul.links.vert li.sub a {
    color: #000;
  }
}
header .row ul.links.vert li.sub a.active {
  color: #28ABE3;
}
header .row ul.links.vert li.sub a ul.drop-menu.clicked {
  position: static;
  min-width: 550px;
  padding: 0.5rem;
  margin-left: -15rem;
}
header .row ul.links.vert li.sub a ul.drop-menu.clicked li {
  text-align: center;
}
header .row ul.links.vert li::after {
  right: -20px;
  color: #000;
}
header .row ul.links.vert a {
  color: #000;
}
header .row li {
  text-align: center;
  width: 85px;
  width: 12.5%;
}
header .row li.sub {
  position: relative;
  padding-right: 8px;
}
header .row li.sub:hover::after {
  transform: rotate(180deg);
}
header .row li.sub::after {
  content: "\f107";
  position: absolute;
  right: -1px;
  font-size: 10px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  top: 6px;
}
header .row li.sub ul.drop-menu.clicked {
  visibility: visible;
  position: static;
  width: 550px;
  margin-left: -15rem;
}
@media (min-width: 992px) {
  header .row li.sub ul.drop-menu.clicked {
    width: 130px;
    margin-left: auto;
    margin-top: 10px;
  }
  header .row li.sub ul.drop-menu.clicked li {
    text-align: left !important;
  }
}
header .row li.sub ul.drop-menu.clicked li {
  text-align: center;
}
header .row li.sub ul.drop-menu.clicked li a {
  color: white;
}
header .row li.sub a {
  color: white;
}
header .row li a {
  text-transform: uppercase;
  font-size: 11px;
  color: white !important;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
  font-weight: 700;
}
header .row li a.active {
  color: #28ABE3 !important;
}
header .row li a:hover {
  color: #28ABE3;
}
header .row li ul.drop-menu {
  position: absolute;
  background-color: #000;
  visibility: hidden;
  width: 120px;
  padding: 8px;
  top: 27px;
  left: 0;
  z-index: 999999;
}
header .row li ul.drop-menu li {
  text-align: left;
  padding: 8px;
  width: 100%;
}
header .row li ul.drop-menu li.sub-2 {
  height: 50px;
  position: relative;
}
header .row li ul.drop-menu li.sub-2::after {
  content: "\f107";
  position: absolute;
  right: 16px;
  font-size: 10px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  top: 15px;
}
header .row li ul.drop-menu li.sub-2 ul.sub2 {
  visibility: hidden;
  position: relative;
  left: 100px;
  top: -25px;
  width: 120px;
  z-index: 999999;
}
header .row li ul.drop-menu li.sub-2 ul.sub2.col-clicked {
  visibility: visible;
  position: static;
  margin-top: 1.8rem;
  width: 95%;
  margin-left: 0.8rem;
  margin-bottom: 0.5rem;
}
header .row li ul.drop-menu li.sub-2 ul.sub2 li {
  background-color: #000;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
header .row li ul.drop-menu li.sub-2 ul.sub2 li a {
  color: white;
}
header .toggle {
  width: 50px;
  height: 35px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 95px;
  cursor: pointer;
}
@media (min-width: 992px) {
  header .toggle {
    display: none;
  }
}
header .toggle svg {
  color: #000;
}
header .toggle svg.clicked {
  color: #28ABE3;
}
header.fixed {
  position: fixed;
}

.about-landing {
  height: 250px;
  border: 1px solid;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url(../theme/images/about/about-header.jpg);
  background-size: cover;
}
.about-landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.about-landing .container {
  z-index: 99;
}
.about-landing .container nav {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.about-landing .container nav ol li {
  color: rgba(255, 255, 255, 0.8) !important;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.we-create .container .row .text h4 {
  line-height: 1.4;
}
.we-create .container .row .text p {
  font-size: 0.9rem;
}

.promo .container .row .video {
  position: relative;
  height: 300px;
}
.promo .container .row .video iframe {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.snake .main-title p {
  font-size: 0.9rem;
  position: relative;
  padding-bottom: 1rem;
}
.snake .main-title p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 100px;
  background-color: #ccc;
}
.snake #snakeCarousel .carousel-inner .carousel-item {
  transition: 3s;
  transform: translateX(150%);
  opacity: 0.3;
}
.snake #snakeCarousel .carousel-inner .carousel-item.active {
  transform: translateX(0);
  opacity: 1;
}
.snake #snakeCarousel .carousel-inner .carousel-item img {
  height: 150px;
}

.our-team .main-heading p {
  font-size: 0.9rem;
  position: relative;
  padding-bottom: 1rem;
}
.our-team .main-heading p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 100px;
  background-color: #ccc;
}
.our-team .row .card {
  overflow: hidden;
}
.our-team .row .card .image {
  position: relative;
  overflow: hidden;
}
.our-team .row .card .image:hover img {
  transform: scale(1.1);
}
.our-team .row .card .image:hover .socials {
  opacity: 1;
  height: 70px;
  transform: translateY(0);
}
.our-team .row .card .image img {
  transition: 0.3s;
}
.our-team .row .card .image .socials {
  transform: translateY(30px);
  background-color: rgba(40, 171, 227, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team .row .card .image .socials .icon {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}
.our-team .row .card .image .socials .icon svg {
  color: white;
}

.create {
  background-image: url(../theme/images/call-to-action/call-to-action-bg-2.jpg);
  background-size: cover;
}
.create .text {
  color: white;
}
.create .text h2 {
  font-size: 1.5rem;
}
.create .text p {
  margin: 1rem 0 2rem;
}
.create .text button.btn {
  margin-bottom: 3rem;
  padding: 0.5rem 2rem;
  background-color: #28ABE3;
  border-radius: 40px;
  font-size: 14px;
}

.stats .container .main-heading h2 {
  font-size: 2rem;
}
.stats .container .main-heading p {
  line-height: 1.7;
  color: #777;
  font-size: 14px;
}
.stats .container .stat svg {
  color: #28ABE3;
}
.stats .container .stat p {
  margin: 0.7rem 0;
  font-weight: 700;
  font-size: 2rem;
}
.stats .container .stat span {
  font-weight: bold;
}

footer .container .row .line {
  color: #999;
}
footer .container .row .line.one p {
  font-size: 0.8rem;
  line-height: 1.7;
}
footer .container .row .line > h5 {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: white;
}
footer .container .row .line ul li {
  font-size: 0.8rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
footer .container .row .line ul li:hover {
  color: #28ABE3;
}
footer .copy {
  font-size: 0.7rem;
  color: #777;
  letter-spacing: 1px;
}
footer .copy p span {
  color: #28ABE3;
}/*# sourceMappingURL=about.css.map */